.slick-slider{
    width: 100%;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display:flex;
}
/* Слайд */
.slick-slide{

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider {
   width: 100%;
    margin-left: 20px;
}
.slider .slick-slide{
    margin-right: 10px;
    width: 280px ;
}
.slider .slick-dots {
    display: flex;
    justify-content: center;
    align-content: center;
}
.slider .slick-dots li {
list-style: none;
}
.slider .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: darkgrey;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
}
.slider .slick-dots li.slick-active button{
    width: 40px;
    height: 16px;
    border-radius: 16px;
    background-color: #18e8a4;
}